body {
    margin: 0;
    padding: 10px;
    background: url('../images/Фон_Моб_CRM.jpg') no-repeat center / cover;
    /* background-color: purple; */
    overflow: hidden;
}

.pagecrm_header {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.pagecrm_logo {}

.pagecrm_link {
    color: white;
    font-family: "Inter";
    margin: 0;
}

.pagecrm_menu {
    background: url('../images/menu.svg') no-repeat center / cover;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.pagecrm_input-search {
    position: relative;

    width: 100%;
    padding: 0;
    height: 25px;

    border-radius: 420px;
    background: linear-gradient(180deg, rgba(46, 51, 90, 0.3) 0%, rgba(28, 27, 51, 0.3) 100%) padding-box,

        linear-gradient(266.77deg, #FFFFFF -11.99%, #9E95FF 42.41%, #FFFFFF 91.84%) border-box;

    border: 1px solid transparent;
}